body{font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;font-size:14px;width:1349px;display:block;border:1px solid silver;}body .top{border:1px solid silver;width:1349px;height:31px;padding-left:1000px;margin-left:-106px;line-height:31px;}
body .logo{border:1px solid silver;height:70px;}body .logo .image{width:250px;display:inline;float:left;margin-right:50px;}
body .logo .input-group{padding-top:18px;}
body .logo .word{width:450px;}
body .search{margin-top:10px;border:1px solid #ddd;}body .search .title{height:30px;margin-left:10px;line-height:30px;background:#F7F7F7;}
body .search .condition1{clear:both;border-top:1px solid #ddd;height:40px;}body .search .condition1 .option1{line-height:40px;padding-left:30px;}
body .search .condition1 .value1{margin-top:10px;}body .search .condition1 .value1 li{float:left;margin-right:20px;}
body .search .condition2{clear:both;border-top:1px solid #ddd;height:60px;}body .search .condition2 .option2{margin-top:10px;padding-left:30px;}
body .search .condition2 .value2{margin-top:10px;}body .search .condition2 .value2 li{float:left;margin-right:20px;}
body .search .condition3{clear:both;border-top:1px solid #ddd;height:60px;}body .search .condition3 .option3{margin-top:10px;padding-left:30px;}
body .search .condition3 .value3{margin-top:10px;}body .search .condition3 .value3 li{float:left;margin-right:20px;}
body .sort{height:42px;margin-top:20px;padding:4px 10px;border:1px solid #ddd;line-height:30px;}
body .searchResult{border:1px solid #ddd;height:400px;min-height:400px;height:auto !important;}
body #createResume{height:auto !important;min-height:200px;height:200px;}body #createResume #btn1{width:175px;margin:0 auto;text-align:center;}
body #createResume{margin-top:10px;}
body #resume{margin-top:10px;}body #resume #btn2{float:right;margin-bottom:10px;}
body #resumeInfo{margin-top:10px;padding:0 10px;}body #resumeInfo #btn3{width:175px;}
body #viewResume .summary{padding-left:15px;}body #viewResume .summary .ver-line{padding:0 5px;}
body #viewResume .details dt{background:url('../image/viewResumebg.JPG') no-repeat;}body #viewResume .details dt h5{height:26px;line-height:26px;color:#315AAA;text-indent:20px;}
body #viewResume .details dd{padding-left:15px;}body #viewResume .details dd .ver-line{padding:0 5px;}
body .bottom{width:990px;height:70px;margin:0 auto;border:1px solid silver;text-align:center;line-height:70px;}
