header{
	text-align: right;
}

body{
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
	font-size: 14px;
	background-color: rgb(252,252,252);
}

footer{
	text-align: center;
}

.logo{
	position:relative;
	bottom:2em;
}

h3.active{
	font-weight: bold;
}

h3.active:after{
	content: '活动';
	font-size: 0.5em;
	margin-left: 0.5em;
}

.resume{
	border: 1px solid rgb(205,205,205);
	border-radius: 0.5em;
	box-shadow: 0 3px 1px rgb(255,234,234);
	margin: 0.5em 0;
	padding: 0.5em;
	position:relative;
}

.resume p>span{
	margin-right: 1em;
}

.resume p label{
	font-weight: normal;
	color: gray;
}

.resume>.cmd{
	position:absolute;
	top:1.2em;
	right:1em;
}

button.toggle{
	border-width: 0;
	width:16px;
	height:16px;
	background-image: url(/images/toggle.png);
	background-position: -5px 0px;
}

button.toggle::focus{
	border-width:0;
}

button.toggle.expanded{
	background-position: -29px 0px;
}
nav .pager{
	margin:0;
}

.pagination>li>a,.pager a{
	cursor: pointer;
}

.filter-options{
	color: #005aa0;
}

.filter-options label:hover{
	color: red;
}

.filter-options.empty input{
	display: none;
}